# MoeGo API
MOEGO_API_KEY=
MOEGO_COMPANY_ID=
MOEGO_BUSINESS_ID=
MOEGO_SERVICE_AGREEMENT_ID=
MOEGO_SMS_AGREEMENT_ID=
MOEGO_WEBHOOK_SECRET_PROD=
MOEGO_WEBHOOK_SECRET_STAGING=

# Short.io
SHORTIO_API_KEY=
SHORTIO_DOMAIN=

# Business
BUSINESS_OWNER_EMAILs=
BUSINESS_NAME=
BUSINESS_PHONE=
BUSINESS_LOGO_URL=

# Google
DRIVE_FOLDER_ID_PROD=
DRIVE_FOLDER_ID_STAGING=
SPREADSHEET_ID_PROD=
SPREADSHEET_ID_STAGING=
LANDING_PAGE_URL_PROD=
LANDING_PAGE_URL_STAGING=

# Google Form (Deprecated, but keeping for reference)
GOOGLE_FORM_URL=
FORM_ENTRY_SERVICE_AGREEMENT=
FORM_ENTRY_SMS_AGREEMENT=
FORM_ENTRY_COF=
