# MoeGo API
MOEGO_API_KEY=
MOEGO_COMPANY_ID=
MOEGO_BUSINESS_ID=
MOEGO_SERVICE_AGREEMENT_ID=
MOEGO_SMS_AGREEMENT_ID=

# Short.io
SHORTIO_API_KEY=
SHORTIO_DOMAIN=

# Business Owner
BUSINESS_OWNER_EMAIL=

# Google Form
GOOGLE_FORM_URL=
FORM_ENTRY_SERVICE_AGREEMENT=
FORM_ENTRY_SMS_AGREEMENT=
FORM_ENTRY_COF=
