# MoeGo API
MOEGO_API_KEY=
MOEGO_COMPANY_ID=
MOEGO_BUSINESS_ID=
MOEGO_SERVICE_AGREEMENT_ID=
MOEGO_SMS_AGREEMENT_ID=
MOEGO_WEBHOOK_SECRET

# Short.io
SHORTIO_API_KEY=
SHORTIO_DOMAIN=

# Business
BUSINESS_OWNER_EMAIL=
BUSINESS_NAME=
BUSINESS_PHONE=
BUSINESS_LOGO_URL=

# Google Drive
DRIVE_FOLDER_ID=

# Google Sheets
SPREADSHEET_ID=

# Landing Page
LANDING_PAGE_URL=
